spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    show_sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guestuser
    password: guestuser
#    publisher-confirm-type: correlated # 메시지 발행 확인 활성화
#    listener:
#      simple:
#        retry:
#          enabled: true # 재시도 활성화
#          max-retries: 3 # 최대 재시도 횟수
#          initial-interval: 1000 # 초기 재시도 간격 (밀리초) 1초
#          max-interval: 10000 # 최대 재시도 간격 (밀리초) 10초
#        default-requeue-rejected: false # 재시도 후에도 메시지를 다시 큐에 넣지 않도록 설정
